.introducao {
  max-width: 1200px;
  display: grid;
  padding: 40px 20px;
  margin: 0 auto;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
  align-items: center;
}

.cabecalho-menu a {
  border: 1px solid transparent;
  transition: 0.3s;
}

.cabecalho-menu a:hover {
  border: 1px solid #fff;
  border-radius: 5px;
  color: #fff;
  background-color: #000;
}

.introducao h1 {
  font-size: 4.5rem;
  font-weight: bold;
  line-height: 1.125;
  margin-bottom: 30px;
  position: relative;
}

.introducao p {
  color: #c2c2c2;
  font-size: 1.5rem;
  font-weight: 450;
}

.introducao h1::before {
  content: "";
  display: block;
  width: 130px;
  height: 100px;
  background: url(../img/detalhe.svg) no-repeat center;
  position: absolute;
  top: -15px;
  left: -40px;
  z-index: -1; /*Jogar o elemento pra trás*/
}

@media (max-width: 1000px) {
  .introducao h1 {
    font-size: 3rem;
  }
}

@media (max-width: 800px) {
  .introducao {
    grid-template-columns: 1fr 1fr;
    gap: 50px;
  }
  .introducao h1 {
    font-size: 2rem;
  }
  .introducao h1::before {
    width: 30px;
    height: 10px;
    left: 0;
  }
}

@media (max-width: 400px) {
  .introducao img {
    display: none;
    grid-template-columns: 1fr;
  }
}
